.about {
  display: flex;
  flex-direction: row;

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }

  .left-side {
    flex: 0.23;
    justify-content: flex-end;

    font-size: 20px;
    text-align: center;

    background-color: #f6cd61;
    background-color: #4681f4;
    background-color: #d2e7ff;
    background-color: #ff971d;
    background-color: rgba(255, 150, 31, 0.41);

    div {
      align-self: center;
    }
  }

  .right-side {
    flex: 0.77;

    flex-direction: column;
    justify-content: flex-start;

    background: rgba(255, 255, 255, 0.25);

    padding-right: 5px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    .title {
      width: 100%;
      height: 10%;
      padding-top: 10px;
      padding-bottom: 10px;

      font-size: 50px;
      text-align: center;
      // color: #4681f4;
      color: crimson;

      background-color: rgba(255, 244, 230, 0.3);
    }

    .story {
      height: 95%;
      padding: 0 25px;

      font-size: 20px;
      line-height: 25px;
      font-weight: 360;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans",
        Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial,
        sans-serif;

      background-color: rgba(255, 244, 230, 0.3);

      // Scroll bar customizations
      scroll-behavior: smooth;
      overscroll-behavior: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: wheat; /* color of the tracking area */
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #111f4d; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
      }
    }
  }

  /* For Tablet View */
  @media only screen and (max-device-width: 1023px) {
    flex-direction: column;

    .left-side {
      display: none;
      visibility: hidden;
    }

    .right-side {
      flex: 1;
    }
  }

  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
  }
}
