wheat

/* HEX */
#111f4d

#ff971d
#f9f9e0
#e0ebf9
#fff
#2ab7ca
#f6cd61
#fe8a71
#fe9c8f • #feb2a8 • #fec8c1 • #fad9c1 • #f9caa7
#ee4035 • #f37736 • #fdf498 • #7bc043 • #0392cf
#96ceb4 • #ffeead • #ff6f69 • #ffcc5c • #88d8b0
#4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b
#008744 • #0057e7 • #d62d20 • #ffa700 • #ffffff
#a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94
#d11141 • #00b159 • #00aedb • #f37735 • #ffc425
#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff
C • #eb6841 • #cc2a36 • #4f372d • #00a0b0

/* RGBA */
/* rgba(17, 31, 77, 0.97)
rgba(255, 232, 214, 0.95)
rgb(245, 202, 123)
rgb(224, 235, 249) */

 /* background-color: #f9f9e0;
        background-color: #4681f4;
        background-color: #5783db; */

/*
html {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

body::-webkit-scrollbar {
  width: 10px;
} */

/* body::-webkit-scrollbar-track {
  background: wheat;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #111f4d;
  border-radius: 20px;
}
*/

/* For Desktop View */
  @media screen and (min-width: 1024px) and (max-device-width: 1440px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}


 {/* Slider main container */}
        <div class="swiper">
          {/* Additional required wrapper */}
          <div class="swiper-wrapper">
            {/* Slides --> */}
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
          </div>
          {/* If we need pagination */}
          <div class="swiper-pagination"></div>

          {/* If we need navigation buttons */}
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          {/* If we need scrollbar */}
          <div class="swiper-scrollbar"></div>
        </div>
